<!DOCTYPE html>
<html>
    <head>
        <title>Online Shop</title>
        <link rel="stylesheet" href="/home.css">
    </head>
    <body>
        <h1>Online Shop Home Page</h1>
        <div class="signupform">
            <form class="form">
                <input type="text" placeholder="name" class="name" name="name">
                <input type="password" placeholder="password" class="password" name="password">
                <input type="email" placeholder="email" class="email" name="email">
                <input type="text" placeholder="role" class="role" name="role">
                <input type="text" placeholder="phone number" class="num" name="num">
                <input type="submit" class="submit">
            </form>
        </div>
        {{>footer}}
        <script src="../../any.js"></script>
    </body>
</html>